
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="author" content="Gabriel Cueto <@Mushr00m_Dev - http://laesporadelhongo.com/>" />
    <title>Case Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Case management system</div>
        <div class="panel-body">
            <form class="form" id="form" method="POST" v-on:submit="validateForm">
                <div class="form-group" v-bind:class="{ 'has-error': submition }">
                    <label class="case_number" class="form-control-label">Case Number</label>
                    <input id="casenum"
                           class="form-control"
                           name="casenum"
                           v-model="casenum">
                    <span class="help-block" v-if="submition">This field is required.</span>
                </div>

                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="service_request" class="form-control-label">Service Request:Quay wall inspection</label>
                    <input id="servicereq"
                           class="form-control"
                           name="servicereq"
                           v-model="servicereq">
                    <span class="help-block" v-if="submition">This field is required.</span>
                </div>

                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="created_by" class="form-control-label">Created By</label>
                    <input type="createb"
                           id="createb"
                           class="form-control"
                           name="createb"
                           v-model="createb">
                    <span class="help-block" v-if="submition ">This field is required.</span>
                </div>

                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="department_req" class="form-control-label">Department Request service</label>
                    <input type="dept"
                           id="dept"
                           class="form-control"
                           name="dept"
                           v-model="dept">
                    <span class="help-block" v-if="submition ">This field is required.</span>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="search" class="form-control-label">Search</label>
                    <input type="sch"
                           id="sch"
                           class="form-control"
                           name="sch"
                           v-model="sch">
                    <span class="help-block" v-if="submition ">This field is required.</span>
                </div>

                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="navigate" class="form-control-label">Navigate Pane</label>
                    <option>Home</option>
                    <option>All Cases</option>
                    <option>My cases</option>
                    <option>Cases awaiting Reviews</option>

                    <span class="help-block" v-if="submition ">This field is required.</span>
                </div>
                <div>
                <button class="btn btn-primary">Approve</button>
                <button class="btn btn-primary">Reject</button>
                </div>

                <div class="form-group" v-bind:class="{ 'has-error': submition}">
                    <label class="caseStatus" class="form-control-label">Case Status</label>
                    <input type="stat"
                           id="stat"
                           class="form-control"
                           name="stat"
                           v-model="stat">
                    <span class="help-block" v-if="submition ">This field is required.</span>
                </div>






                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="main.js"></script> <!-- We will code this later -->
</body>
</html>